.link-tooltip {
  max-width: 500px !important;
  background-color: #fff !important;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-radius: 5px;
}

.link-tooltip .ant-tooltip-content {
  border-radius: 5px;
}

.link-tooltip .ant-tooltip-inner {
  min-height: 20px;
  padding: 5px;
  overflow: hidden;
}
.link-tooltip * {
  background-color: #fff !important;
}

.link-tooltip-container {
  background-color: #fff;
  color: #91908f;
  display: flex;
  align-items: center;
  user-select: none;
  cursor: default;
}

.link-tooltip-container > img {
  width: 10px;
  -webkit-user-drag: none;
}

.link-tooltip-text-container {
  max-width: 100% !important;
  margin-left: 5px !important;
  font-size: 11px !important;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: nowrap !important;
  text-decoration: none !important;
  font-weight: 400 !important;
}
