.search-open {
  display: flex;
  width: 100%;
  height: 100%;
  /* border-bottom: 1px solid #c4c4c4;
  border-left: 1px solid #c4c4c4;
  border-right: 1px solid #c4c4c4; */
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  opacity: 1;
}

.search-close {
  height: 0px !important;
  display: none;
}

.highlights-filters {
  flex-direction: column;
  padding: 15px;
  transition: all 0.2s;
}

.highlights-filter-inputs {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-row-gap: 25px;
  margin-top: 10px;
}

.highlights-color-filters {
  display: flex;
  flex-direction: column;
}

.highlights-color-filter-grid {
  display: grid;
  grid-template-columns: 105px 105px 105px;
  grid-template-rows: 38px 38px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin-top: 10px;
}

.highlights-color-filter-grid > div {
  width: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 3px 10px;
  border-radius: 5px;
  user-select: none;
}

.highlights-color-filter-grid > div:hover {
  background-color: #eee;
}

.highlights-color-round {
  width: 25px;
  height: 25px;
  border-radius: 100px;
  margin-right: 10px;
}

.highlights-color-filter-grid > div:nth-of-type(1) .highlights-color-round {
  background-color: #ffef9c;
}

.highlights-color-filter-grid > div:nth-of-type(2) .highlights-color-round {
  background-color: #b0e8ff;
}

.highlights-color-filter-grid > div:nth-of-type(3) .highlights-color-round {
  background-color: #cda5ff;
}

.highlights-color-filter-grid > div:nth-of-type(4) .highlights-color-round {
  background-color: #fe9190;
}

.highlights-color-filter-grid > div:nth-of-type(5) .highlights-color-round {
  background-color: #ffa88d;
}

.highlights-color-filter-grid > div:nth-of-type(6) .highlights-color-round {
  background-color: #b9ff99;
}

.highlights-date-filters {
  height: 110px;
  display: flex;
  flex-direction: column;
}

.highlights-date-filter-data-inputs {
  margin-top: 10px;
}

.highlights-input-filters {
  width: 320px;
  height: 110px;
}

.highlights-input-filters > div:nth-of-type(2) {
  margin-top: 20px;
}

.highlights-input-filters > div > .ant-select {
  margin-top: 10px;
  width: 100%;
  border-radius: 3px;
}

.highlights-input-filters > div > .ant-select > .ant-select-selector {
  border-radius: 3px !important;
}

.highlights-checkbox-filters {
  width: 320px;
  height: 110px;
}
