.note-deleted-message {
  width: 100%;
  height: 50px;
  background-color: #ff5151;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-out;
}

.note-deleted-message-container {
  height: 100%;
  padding: 5px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
}

.note-deleted-message-container > p {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}

.note-deleted-message-button-container {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.note-deleted-message-container .note-delete-btn-primary {
  background-color: #fff;
  border-radius: 6px;
  color: #ff5151;
  padding: 2px 5px;
  cursor: pointer;
  user-select: none;
  font-size: 15px;
  border: 2px solid #fff;
  margin-left: 20px;
}

.note-deleted-message-container .note-delete-btn-primary img {
  width: 11px;
  margin-left: 8px;
}

.note-deleted-message-container .note-delete-btn-ghost {
  background-color: #ff5151;
  border: 2px solid #fff;
  border-radius: 6px;
  color: #fff;
  padding: 2px 5px;
  cursor: pointer;
  user-select: none;
  font-size: 15px;
  margin-left: 15px;
}

.note-deleted-message-container .note-delete-btn-ghost img {
  width: 13px;
  margin-left: 8px;
}

.note-deleted-message-visible {
  top: 0;
  right: 0;
}

.note-deleted-message-hidden {
  top: -60px;
  right: 0;
}
