.inline-toolbar-container {
  width: 100%;
  height: 100%;
  position: relative;
  pointer-events: none;
  background-color: transparent;
}
.inline-toolbar {
  width: auto;
  height: 38px;
  z-index: 1000;
  background-color: #fff;
  user-select: none;
  border-radius: 4px;
  display: flex;
  align-items: center;
  position: absolute;
  top: -10000px;
  left: -10000px;
  pointer-events: none;
  opacity: 0;
  box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%), 0 6px 16px 0 rgb(0 0 0 / 8%),
    0 9px 28px 8px rgb(0 0 0 / 5%);
  transition: opacity 0.2s;
}

.inline-toolbar > div:not(:first-of-type) {
  border-left: 1px solid #cdcdcd;
}

.inline-toolbar-open {
  opacity: 1;
  pointer-events: all;
}

.inline-toolbar-closed {
  opacity: 0;
  pointer-events: none;
}

.vertical-line {
  background-color: #cdcdcd;
  height: 100%;
  width: 1px;
}

.block-type-dropdown {
  height: 100%;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  cursor: pointer;
  user-select: none;
}

.block-type-dropdown:hover {
  background-color: #eee;
}

.block-type-dropdown:active {
  background-color: rgb(206, 206, 206);
}
.block-type-dropdown span {
  user-select: none;
  margin-right: 10px;
}

.convert-block-list {
  width: 250px;
  height: 200px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 5px;
  user-select: none;
}

.convert-list-options {
  width: 100%;
  height: calc(100% - 30px);
  padding: 8px 10px;
}

.convert-list-options * {
  cursor: pointer;
}

.convert-list-heading {
  width: 100%;
  height: 30px;
  padding: 8px 10px;
  color: rgb(199, 199, 199);
  font-size: 15px;
}

.inline-toolbar-holder {
  width: 10px;
  height: 10px;
  background-color: transparent;
  position: fixed;
  top: 10%;
  left: 30%;
  pointer-events: none;
}

.text-style-tools {
  width: 140px;
  height: 100%;
  font-size: 23px;
  display: flex;
  align-items: center;
}
.text-style-tools > span {
  width: 28px;
  height: 100%;
  text-align: center;
  cursor: pointer;
}

.text-style-tools > span > svg {
  width: 12px;
  height: 12px;
}

.text-style-tools > span:hover {
  background-color: #eee;
}

.text-style-tools > span:active {
  background-color: rgb(206, 206, 206);
}

.text-style-tools span:last-of-type svg {
  width: 17px;
  height: 14px;
}

.text-color-container {
  width: 120px;
  height: 100%;
  display: flex;
  align-items: center;
}

.text-color-container > div.color-preview > div {
  width: 20px;
  height: 20px;
  border-radius: 100px;
  border: 1px solid #eee;
}

.text-color-container > div:hover {
  background-color: #eee;
}

.text-color-container > div:active {
  background-color: rgb(206, 206, 206);
}

.text-color-container > div {
  width: 40px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.text-color-container > div:first-of-type > img {
  width: 15px;
  height: 15px;
}

.text-color-container > div:nth-of-type(2) > img {
  width: 19px;
  height: 19px;
}

.text-color-container > div > svg {
  width: 18px;
  height: 50px;
}

.block-type-container {
  width: 120px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.block-type-container > div {
  width: 20px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.block-type-container > div:last-of-type {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.block-type-container > div > img {
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.block-type-container > div:last-of-type > img {
  width: 16px;
  height: 16px;
}

/* .block-type-container > div:hover {
  background-color: #eee;
}
.block-type-container > div:active {
  background-color: rgb(206, 206, 206);
} */

.text-background-colors-container {
  width: 200px;
  height: 100px;
  background-color: #fff;
  border-radius: 3px;
  user-select: none;
  display: grid;
  grid-template-columns: 25px 25px 25px 25px 25px 25px;
  grid-template-rows: 20px 20px 20px;
  grid-row-gap: 10px;
  grid-column-gap: 7px;
  justify-content: center;
  align-content: center;
  justify-items: center;
  pointer-events: all;
}
.text-background-colors-container > div {
  width: 23px;
  height: 23px;
  border-radius: 100px;
  cursor: pointer;
  border: 1px solid #eee;
}

.text-colors-container {
  width: 200px;
  height: 80px;
  background-color: #fff;
  border-radius: 3px;
  user-select: none;
  display: grid;
  grid-template-columns: 25px 25px 25px 25px 25px 25px;
  grid-row-gap: 8px;
  grid-column-gap: 5px;
  align-content: center;
  grid-template-rows: 20px 20px;
  align-items: center;
  justify-content: center;
  align-self: center;
  justify-items: center;
  pointer-events: all;
}
.text-colors-container svg {
  width: 13px;
  height: 13px;
  cursor: pointer;
}

.link-exists-container {
  width: 300px;
  height: auto;
  display: flex;
  flex-direction: column;
  user-select: none;
}

.link-exists-container > .add-link-container {
  width: 100%;
}

.link-exists-container > .add-link-container > input {
  width: 217px;
  box-shadow: none !important;
}

.link-exists-action-item {
  width: 100%;
  height: 33px;
  display: flex;
  align-items: center;
  padding: 8px;
  cursor: pointer;
  user-select: none;
}

.link-exists-action-item:hover {
  background-color: #eee;
}

.link-exists-action-item:active {
  background-color: rgb(218, 218, 218);
}

.link-exists-action-item > img {
  width: 15px;
  margin-right: 8px;
}
.link-exists-action-item > p {
  font-size: 14px;
}

.add-link-container {
  width: 273px;
  height: 38px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  user-select: none;
  pointer-events: all;
}
.add-link-container input {
  width: 190px;
  height: 30px;
  background-color: #f5f5f5;
  outline: none;
  border: none;
  border-radius: 3px;
  text-indent: 8px;
  box-shadow: none !important;
}
.add-link-container input::placeholder {
  color: #dedede;
}
.add-link-container button {
  width: 67px;
  height: 30px;
  background-color: #414141;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.add-link-container button:hover {
  background-color: rgb(128, 128, 128);
}

.add-link-container button:active {
  background-color: #575757;
}

.toolbar-hidden {
  opacity: 0;
  pointer-events: none;
}

.toolbar-hidden * {
  opacity: 0;
  pointer-events: none;
}

.toolbar-visible {
  opacity: 1;
}

.toolbar-visible * {
  opacity: 1;
  pointer-events: all;
}
.text-background-container {
  position: relative;
}

.text-background-container:hover::after {
  opacity: 1;
}

.text-background-container::after {
  position: absolute;
  content: "Change text background";
  width: 175px;
  height: 33px;
  background-color: #000;
  color: #fff;
  opacity: 0;
  box-shadow: 0px 0px 4px 0px rgb(0 0 0 / 30%);
  top: -36px;
  padding: 5px;
  border-radius: 4px;
}

.text-color-color-container {
  position: relative;
}

.text-color-color-container:hover::after {
  opacity: 1;
}

.text-color-color-container::after {
  position: absolute;
  content: "Change text color";
  width: 128px;
  height: 33px;
  background-color: #000;
  color: #fff;
  opacity: 0;
  box-shadow: 0px 0px 4px 0px rgb(0 0 0 / 30%);
  top: -36px;
  padding: 5px;
  border-radius: 4px;
}

.add-link-text-container {
  position: relative;
}

.add-link-text-container:hover::after {
  opacity: 1;
}

.add-link-text-container::after {
  position: absolute;
  content: "Add link to text";
  width: 111px;
  height: 33px;
  background-color: #000;
  color: #fff;
  opacity: 0;
  box-shadow: 0px 0px 4px 0px rgb(0 0 0 / 30%);
  top: -36px;
  padding: 5px;
  border-radius: 4px;
}

.bold-text-container {
  position: relative;
}

.bold-text-container:hover::after {
  opacity: 1;
}

.bold-text-container::after {
  position: absolute;
  content: "Bold text";
  width: 70px;
  height: 33px;
  background-color: #000;
  color: #fff;
  opacity: 0;
  box-shadow: 0px 0px 4px 0px rgb(0 0 0 / 30%);
  top: -36px;
  left: -20px;
  padding: 5px;
  border-radius: 4px;
  font-size: 14px;
}

.italic-text-container {
  position: relative;
}

.italic-text-container:hover::after {
  opacity: 1;
}

.italic-text-container::after {
  position: absolute;
  content: "Italic text";
  width: 71px;
  height: 33px;
  background-color: #000;
  color: #fff;
  opacity: 0;
  box-shadow: 0px 0px 4px 0px rgb(0 0 0 / 30%);
  top: -36px;
  left: -19px;
  padding: 5px;
  border-radius: 4px;
  font-size: 14px;
}

.underline-text-container {
  position: relative;
}

.underline-text-container:hover::after {
  opacity: 1;
}

.underline-text-container::after {
  position: absolute;
  content: "Underline text";
  width: 104px;
  height: 33px;
  background-color: #000;
  color: #fff;
  opacity: 0;
  box-shadow: 0px 0px 4px 0px rgb(0 0 0 / 30%);
  top: -36px;
  left: -35px;
  padding: 5px;
  border-radius: 4px;
  font-size: 14px;
}

.strikethrough-text-container {
  position: relative;
}

.strikethrough-text-container:hover::after {
  opacity: 1;
}

.strikethrough-text-container::after {
  position: absolute;
  content: "Strikethrough text";
  width: 134px;
  height: 33px;
  background-color: #000;
  color: #fff;
  opacity: 0;
  box-shadow: 0px 0px 4px 0px rgb(0 0 0 / 30%);
  top: -36px;
  left: -55px;
  padding: 5px;
  border-radius: 4px;
  font-size: 14px;
}

.code-text-container {
  position: relative;
}

.code-text-container:hover::after {
  opacity: 1;
}

.code-text-container::after {
  position: absolute;
  content: "Mark as code";
  width: 101px;
  height: 33px;
  background-color: #000;
  color: #fff;
  opacity: 0;
  box-shadow: 0px 0px 4px 0px rgb(0 0 0 / 30%);
  top: -36px;
  left: -32px;
  padding: 5px;
  border-radius: 4px;
  font-size: 14px;
}

.convert-to-bulleted-list-container {
  position: relative;
}

.convert-to-bulleted-list-container:hover::after {
  opacity: 1;
}

.convert-to-bulleted-list-container::after {
  position: absolute;
  content: "Convert to bulleted list";
  width: 162px;
  height: 33px;
  background-color: #000;
  color: #fff;
  opacity: 0;
  box-shadow: 0px 0px 4px 0px rgb(0 0 0 / 30%);
  top: -36px;
  left: -70px;
  padding: 5px;
  border-radius: 4px;
  font-size: 14px;
}

.convert-to-numbered-list-container {
  position: relative;
}

.convert-to-numbered-list-container:hover::after {
  opacity: 1;
}

.convert-to-numbered-list-container::after {
  position: absolute;
  content: "Convert to numbered list";
  width: 175px;
  height: 33px;
  background-color: #000;
  color: #fff;
  opacity: 0;
  box-shadow: 0px 0px 4px 0px rgb(0 0 0 / 30%);
  top: -36px;
  left: -82px;
  padding: 5px;
  border-radius: 4px;
  font-size: 14px;
}

.convert-to-checkbox-list-container {
  position: relative;
}

.convert-to-checkbox-list-container:hover::after {
  opacity: 1;
}

.convert-to-checkbox-list-container::after {
  position: absolute;
  content: "Convert to checkbox item";
  width: 181px;
  height: 33px;
  background-color: #000;
  color: #fff;
  opacity: 0;
  box-shadow: 0px 0px 4px 0px rgb(0 0 0 / 30%);
  top: -36px;
  left: -82px;
  padding: 5px;
  border-radius: 4px;
  font-size: 14px;
}
