.cover-modal-container {
  width: 650px;
  height: 650px;
  background-color: #fff;
  border-radius: 7px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.6);
  padding: 25px 20px;
  display: flex;
  flex-direction: column;
  transition: all 0.2s;
}

.cover-modal-container-visible {
  opacity: 1;
  pointer-events: all;
}

.cover-modal-container-hidden {
  display: none;
  opacity: 0;
  pointer-events: none;
}

.cover-modal-header {
  widows: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
}

.cover-modal-header > h2 {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 0;
}

.circle-btn {
  width: 35px;
  height: 35px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.circle-btn:active {
  background-color: #eee;
}

.cover-modal-content-container {
  width: 100%;
  height: 100%;
  margin-top: 10px;
  overflow: hidden;
}

.ant-tabs {
  user-select: none !important;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #000 !important;
}
.ant-tabs-ink-bar {
  background: #000 !important;
}

.search-bar {
  width: 100%;
  height: 50px;
}

.search-bar input {
  width: 100%;
  height: 37px;
  outline: none;
  border: none;
  background: #dfdfdf;
  text-indent: 8px;
  border-radius: 3px;
  font-size: 13px;
  margin-top: 15px;
}

.search-bar img {
  margin-left: -30px;
  opacity: 0.6;
  user-select: none;
}

.unsplash-container {
  width: 100%;
  height: 500px;
}

.unsplash-images-container {
  width: 100%;
  height: 430px;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  padding: 0px 0px 25px 0px;
  margin-top: 20px;
}

.unsplash-images-container::-webkit-scrollbar {
  width: 8px;
  opacity: 0;
}

/* Handle */
.unsplash-images-container::-webkit-scrollbar-thumb {
  background: #757575;
  border-radius: 50px;
  opacity: 0;
}

/* Handle on hover */
.unsplash-images-container::-webkit-scrollbar-thumb:hover {
  background: #999999;
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 100%;
}
.my-masonry-grid_column {
  background-clip: padding-box;
}

.my-masonry-grid_column:last-of-type {
  padding-left: 7px; /* gutter size */
}

.my-masonry-grid_column:nth-of-type(2) {
  padding-left: 4px; /* gutter size */
}

/* Style your items */
.my-masonry-grid_column > div {
  margin-bottom: 10px;
}
.my-masonry-grid_column > div > img {
  width: 100%;
  height: 100%;
}

.upload-image-container {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.paste-link-container {
  width: 100%;
  height: 43px;
  display: flex;
  align-items: center;
  padding: 3px;
  margin-top: 15px;
  justify-content: space-between;
}

.paste-link-input:focus {
  box-shadow: none !important;
  border: none !important;
}

.paste-link-input:hover {
  box-shadow: none !important;
  border: none !important;
}

.paste-link-input {
  width: 86% !important;
  height: 100%;
  padding: 0 !important;
  outline: none;
  border: none !important;
  background-color: #dfdfdf !important;
  text-indent: 8px;
  border-radius: 3px !important;
  font-size: 13px !important;
}

.paste-link-input::placeholder {
  color: #8e8e8e !important;
}

.paste-link-button {
  width: 13%;
  height: 100% !important;
  background-color: #2e3235 !important;
}
.paste-link-button:hover {
  background-color: #272d31 !important;
}
.paste-link-button:active {
  background-color: #303436 !important;
}

.cover-image-upload {
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}
