.article-card {
  width: 350px;
  min-height: 170px;
  height: auto;
  margin-top: 30px;
  background-color: #fff;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  padding: 0px 0px 15px 0px;
  user-select: none;
  border: 1px solid rgb(216, 216, 216);
}

.article-card-dark-overlay {
  width: 100%;
  height: 100%;
  border-radius: 7px;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

.article-card-banner {
  width: 100%;
  height: 165px;
  position: relative;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.article-card:hover .article-card-banner-options {
  opacity: 1;
}

.article-card-banner-options {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  z-index: 5;
  transition: all 0.2s;
}

.article-card-info {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  padding: 0px 15px;
}

.article-card-info > h3 {
  color: #262626;
  width: 100%;
  min-height: 20px;
  max-height: 75px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.article-card-info > p {
  color: #939393;
  text-transform: capitalize;
}

.article-card:hover .article-card-menu-toggle {
  opacity: 1;
}

.article-card-menu-toggle {
  width: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  cursor: pointer;
  background-color: #cfcfcf;
  padding: 13px;
  border-radius: 3px;
  border: 1px solid #9c9c9c;
  opacity: 0;
}

.article-card-menu {
  width: 205px;
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article-card-menu > div {
  width: 100%;
  height: 35px;
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: #fff;
  padding: 8px;
  user-select: none;
}

.article-card-menu > div > img {
  margin-right: 10px;
}

.article-card-menu > div:first-of-type {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.article-card-menu > div:last-of-type {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.article-card-menu > div:hover {
  background-color: #eee;
}

.article-card .ant-select-selection-item {
  background-color: #e2e2e2 !important;
}

@media only screen and (max-width: 750px) {
  .article-card {
    width: 315px;
  }
}
