.note-editor-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  background-color: #fff;
}

.note-cover {
  min-height: 330px;
  max-height: 410px;
  display: flex;
  flex-direction: column;
  border-radius: 13px;
  transition: all 0.2s;
}

.dark-overlay {
  width: 100%;
  min-height: 330px;
  max-height: 410px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.note-content-container {
  display: inline;
  height: 100%;
}

.close-note-icon {
  top: 20px;
  right: 20px;
  position: absolute;
  user-select: none;
  cursor: pointer;
  z-index: 1000;
}

.note-editor-note-name {
  width: 100%;
  font-size: 35px;
  margin-bottom: 10px;
  margin-left: 30px;
  outline: none;
  font-weight: 700;
  border: none;
}

.note-info-container {
  width: 100%;
  height: auto;
  margin: 0 auto;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  z-index: 10;
}
.note-info-grid {
  display: grid;
  grid-template-columns: 20% 80%;
  row-gap: 10px;
  margin-bottom: 15px;
}

.note-info-grid p {
  color: #fff;
  font-size: 15px;
}

.note-info-actions {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.note-action-button {
  width: 120px;
  height: 25px;
  font-size: 12px;
  display: flex;
  align-items: center;
  border-radius: 3px;
  background-color: #000;
  outline: none;
  border: none;
  color: #fff;
  padding: 3px;
  margin-left: 8px;
  user-select: none;
  cursor: pointer;
  transition: all 0.2s;
}

.note-action-button:hover {
  background-color: #000;
}

.note-action-button img {
  width: 13%;
  margin-left: 5px;
}

.note-action-button span {
  margin-left: 6px;
}

.note-action-button:first-of-type {
  margin-left: auto;
}

.note-tags-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.ant-tag {
  margin-top: 5px;
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
}

.change-cover-popup {
  width: 430px;
  height: 300px;
  padding: 10px;
  overflow-x: hidden;
  overflow-y: auto;
  border-radius: 3px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upload-image-button {
  width: 100%;
  height: 30px;
  background-color: #8b05d8;
  border-radius: 2px;
  font-size: 13px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  font-weight: 500;
  transition: all 0.2s;
}

.upload-image-button:hover {
  background-color: #7902be;
}

.change-cover-popup p {
  font-family: "Gotham";
  color: #000;
  font-size: 10px;
  width: 100%;
  text-align: left;
  margin-top: 15px;
}

.share-note-icon {
  cursor: pointer;
  user-select: none;
}

.note-editor-container::-webkit-scrollbar-track {
  background-color: #fff !important;
}

.note-header {
  min-height: 50px;
  max-height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
  transition: all 0.2s;
}

.note-header > div:nth-of-type(2) {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.note-header > div:nth-of-type(2) > div {
  margin-left: 10px;
}

.tag-input-container {
  width: 350px;
}

.tag-input-container > .ant-select {
  width: 100%;
}
.tag-input-container > .ant-select > .ant-select-selector {
  box-shadow: none !important;
  border-radius: 100px;
}

.tag-input-container > .ant-select-open > .ant-select-selector {
  box-shadow: none !important;
}

.note-header-button img {
  width: 16px;
}

.note-header-button {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  background-color: #fff;
  cursor: pointer;
  user-select: none;
}

.note-header-button:active {
  background-color: #eee;
}

.note-menu {
  width: 240px;
  border-radius: 5px;
  border: 1px solid #dddddd;
  display: flex;
  flex-direction: column;
}

.note-menu * {
  pointer-events: all !important;
}

.note-menu > p {
  color: #626262;
  margin-top: 8px;
  margin-left: 5px;
  font-size: 12px;
  user-select: none;
}

.text-alignment-buttons-container {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.note-menu .text-alignment-buttons-container > .text-alignment-button {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
}

.text-alignment-button:hover {
  background-color: #eee;
}

.text-alignment-button:active {
  background-color: rgb(218, 218, 218);
}

.font-style-buttons-container {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  user-select: none;
}

.note-menu > .font-style-buttons-container > .font-style-button {
  width: 55px;
  height: 55px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-radius: 5px;
}

.font-style-button:hover {
  background-color: #eee;
}

.font-style-button:active {
  background-color: rgb(218, 218, 218);
}

.text-alignment-buttons-container
  > .text-alignment-button.text-alignment-button-active {
  background-color: #dfdfdf;
}

.font-style-button-active {
  background-color: #dfdfdf;
}

.text-alignment-buttons-container > .text-alignment-button > img {
  width: 28px;
}

.toggle-menu-container {
  width: 100%;
  height: auto;
  padding: 10px;
  user-select: none;
  padding: 5px 0;
}

.toggle-menu-container > .toggle-menu-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 9px;
  height: 33px;
  margin: 2px 0;
  cursor: pointer;
}

.toggle-menu-item:hover {
  background-color: #eee;
}

.toggle-menu-item:active {
  background-color: rgb(218, 218, 218);
}

.toggle-menu-item > p {
  font-size: 14px;
}

.note-menu-container {
  width: 100%;
  height: auto;
  user-select: none;
  padding: 5px 0;
}

.note-menu-container > .note-menu-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0px 9px;
  height: 30px;
  margin: 2px 0;
}

.note-menu-item > img {
  width: 17px;
}

.note-menu-item > p {
  font-size: 14px;
  margin-left: 10px;
}

.note-menu-item:hover {
  background-color: #eee;
}

.note-menu-item:active {
  background-color: rgb(218, 218, 218);
}

.note-menu-divider {
  width: 100%;
  height: 1px;
  background-color: #dddddd;
}

.cover-uploading-text {
  position: absolute;
  color: #fff;
  bottom: 8px;
  right: 75px;
  font-weight: 600;
  user-select: none;
}

@media only screen and (max-width: 500px) {
  .note-content-container {
    width: 455px !important;
  }

  .note-cover-sidebar-open {
    width: 520px !important;
  }

  .note-cover-sidebar-closed {
    width: 420px !important;
  }
  .note-header-sidebar-open {
    width: 400px !important;
  }

  .note-header-sidebar-closed {
    width: 430px !important;
  }
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .note-content-container {
    width: 520px;
  }

  /* .note-info-container {
    width: 400px;
  } */
  .note-cover-sidebar-open {
    width: 720px;
  }

  .note-cover-sidebar-closed {
    width: 520px;
  }
  .note-header-sidebar-open {
    width: 720px;
  }

  .note-header-sidebar-closed {
    width: 520px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .note-content-container {
    width: 700px;
  }

  /* .note-info-container {
    width: 500px;
  } */
  .note-cover-sidebar-open {
    width: 720px;
  }

  .note-cover-sidebar-closed {
    width: 730px;
  }
  .note-header-sidebar-open {
    width: 720px;
  }

  .note-header-sidebar-closed {
    width: 730px;
  }
}

@media only screen and (min-width: 700px) {
  .note-content-container {
    width: 660px;
  }

  /* .note-info-container {
    width: 500px;
  } */
  .note-cover-sidebar-open {
    width: 600px;
  }

  .note-cover-sidebar-closed {
    width: 640px;
  }
  .note-header-sidebar-open {
    width: 600px;
  }

  .note-header-sidebar-closed {
    width: 640px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .note-content-container {
    width: 760px;
  }
  /* .note-info-container {
    width: 700px;
  } */
  .note-cover-sidebar-open {
    width: 700px;
  }

  .note-cover-sidebar-closed {
    width: 760px;
  }
  .note-header-sidebar-open {
    width: 700px;
  }

  .note-header-sidebar-closed {
    width: 760px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .note-content-container {
    width: 760px;
  }

  /* .note-info-container {
    width: 700px;
  } */
  .note-cover-sidebar-open {
    width: 720px;
  }

  .note-cover-sidebar-closed {
    width: 740px;
  }

  .note-header-sidebar-open {
    width: 720px;
  }

  .note-header-sidebar-closed {
    width: 740px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .note-content-container {
    width: 750px;
  }

  /* .note-info-container {
    width: 700px;
  } */

  .note-cover-sidebar-open {
    width: 800px;
  }

  .note-cover-sidebar-closed {
    width: 790px;
  }

  .note-header-sidebar-open {
    width: 800px;
  }

  .note-header-sidebar-closed {
    width: 790px;
  }
}

.cdx-nested-list--unordered > .cdx-nested-list__item::before {
  content: "\00b7" !important;
  font-size: 50px;
}

.image-tool__caption {
  display: none;
}

.inline-code {
  font-family: "Fira Code", monospace !important;
}
