.tooltip-content-text {
  user-select: none;
  cursor: default;
  -webkit-user-drag: none;
}

.black-tooltip {
  background-color: #000;
  color: #fff;
}

.white-tooltip {
  background-color: #fff;
  color: #91908f;
}
