.screenshot-modal-container {
  width: 650px;
  height: 650px;
  background-color: #fff;
  border-radius: 7px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  transition: all 0.2s;
}

.screenshot-modal-container-visible {
  opacity: 1;
  pointer-events: all;
}

.screenshot-modal-container-hidden {
  display: none;
  opacity: 0;
  pointer-events: none;
}

.tag-select-input {
  width: 87%;
  height: 37px;
}

.close-button {
  position: absolute;
  right: 0px;
  top: -41px;
  width: 35px;
  height: 35px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 10%);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.modal-header {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 10px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}

.modal-content-container {
  width: 100%;
  height: auto;
  max-height: 700px;
  overflow-x: hidden;
  overflow-y: auto;
}

.modal-content-container img {
  width: 100%;
  height: auto;
}

.modal-footer-container {
  width: 100%;
  height: 40px;
  background-color: #eee;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.modal-footer-checkbox {
  user-select: none;
}

.modal-footer-checkbox label > span:nth-of-type(2) {
  font-size: 13px;
}

.modal-footer-checkbox .ant-checkbox-inner {
  width: 14px;
  height: 14px;
}

.modal-tag-input {
  width: 90%;
}
.modal-tag-input > div {
  border-radius: 4px !important;
}
.ant-select-selection-item {
  background: #e8e8e8 !important;
  border: 1px solid #e8e8e8 !important;
}

/* .modal-tag-input {
  height: 37px;
} */

.modal-footer-actions {
  display: flex;
  align-items: center;
}

.footer-button {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 10%);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: 10px;
}

.screenshot-preview-modal-header {
  display: flex;
  align-items: center;
}

.screenshot-preview-modal-header h2 {
  margin-bottom: 0;
  font-weight: 700;
}

.screenshot-preview-modal-header img {
  margin-left: 10px;
}

.screenshot-preview-modal-header-container {
  widows: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
  padding: 20px 24px 20px 28px;
}

.screenshot-modal-content-container {
  width: 100%;
  height: 480px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23c5c5c5' fill-opacity='0.52'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  overflow-y: auto;
}

.screenshot-modal-content-container::-webkit-scrollbar-thumb {
  border-radius: 100px;
}

.screenshot-modal-content-container img {
  max-width: 100%;
  height: auto;
  max-height: 100%;
  border-radius: 1px;
  user-select: none;
}

.screenshot-modal-footer-container {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 26px;
  padding: 0 20px;
}

.screenshot-preview-modal-tags-input-container {
  display: flex;
  align-items: center;
  padding: 0 25px;
  margin-bottom: 10px;
  height: 37px;
}

.screenshot-preview-modal-tags-input-container button {
  height: 100%;
}

.tag-select-input > div {
  height: 100%;
}
